lab3/.DS_Store
.DS_Store
lab3/lab3/de1_soc_pinout.qsf
lab3/lab3/de1_soc_pinout.qsf
lab3/lab3/counter/hw/project/db/lab3.smart_action.txt
lab3/lab3/counter/hw/output_files/lab3.flow.rpt
*.rpt
*.rpt
*.summary
*.xml
*.rdb
*.db_info
*.bat
*.wlf
*.qdb
*.qtl
*.qpg
lab3/lab3/lab3/sim/script/transcript
lab3/lab3/lab3/sim/script/work/_info
lab3/lab3/lab3/sim/script/work/_vmake
*.sci
*.qws
*.vstf
lab3/lab3/lab3/sim/script/wlftab1ede
*.sig
*.kpt
*.hdb
*.cdb
*.hb_info
*.rcfdb
/lab3/lab3/lab3/hw/output_files
/lab3/lab3/lab3/hw/project
/lab4/hw/project
/lab4/hw/output_files
/lab4/sim/script/work
/lab4/sim/script/transcript
